# Ignorar todo por defecto
*

# Excepciones: incluir backend y frontend
!backend/
!frontend/

# Incluir todo dentro de backend y frontend, excepto __pycache__
!backend/**
!frontend/**

# Ignorar cualquier carpeta __pycache__ dentro de backend y frontend
backend/**/__pycache__/
frontend/**/__pycache__/

# No ignorar el propio .gitignore
!/.gitignore
